*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.7);
    --color-black: #000;
    --color-bg: #252850;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-light: #fff;
    --color-dark: #1e2040;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 500ms ease;

}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-dark);
}
/*-----------------------------------------*/
body.dark {
    background-color: var(--colot-light);
    color: var(--color-dark);
  }
  .toggle {
    position: relative;
    top: -20px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: transparent;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 100;
  }
  .toggle::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background: transparent;
    border-radius: 50%;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
  }
  .toggle.active::before {
    background-color: transparent;
    left: calc(100% - 110px - 14px);
  }
  
  
.separador {
    background-color: var(--color-primary);
    height: 5px;
    width: 70px;
}




/*-----------------------------------------*/



.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
section{
    padding: 6rem 0;
}
section{

    margin-bottom: -2rem;
}
h1,h2,h3,h4,h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
a{
    color: var(--color-white);
}
img{
    width: 100%;
    display: block;
    object-fit: cover;

}
.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}
.btn:hover{
    background: var(--color-dark);
    color: var(--color-white);
    border-color: var(--color-white);
}
.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}


/*----------------------navbar----------------*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: var(--color-bg);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  nav .navbar{
    height: 100%;
    /* max-width: 1250px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
  }
 .logo:hover{
    content: url(../imagenes/logohover.png);
    cursor: pointer;
 }
  .navbar .logo a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
  }
  nav .navbar .links{
    display: flex;
  }
  nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
  }
  nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(180deg);
    }
  
  nav .navbar .links li .arrow{
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: linear-gradient(var(--color-dark) 50%,var(--color-bg1));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: block;
  }
  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
  }
  /*
  .navbar .links li .htmlCss-more-sub-menu{
    line-height: 40px;
  }
  */
  .navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar .search-box{
    position: relative;
     height: 40px;
    width: 40px;
  }
  .navbar .search-box i{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar .search-box .input-box{
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #3E8DA8;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  .navbar.showInput .search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #3E8DA8;
  }
  .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #3E8DA8;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
  }
  .search-box .input-box input{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
  }
  .navbar .nav-links .sidebar-logo{
    display: none;
  }
  .navbar .bx-menu{
    display: none;
  }
  .window-scroll{
    background: var(--color-bg1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}





.heart{
top: auto;
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #fff;
    transform: rotate(-45deg);
    border-bottom-left-radius: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  .heart::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    left: 0;
    border-radius: 50px;
    background-color: #fff;
  }
  .heart::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: -50%;
    border-radius: 50px;
    background-color: #fff;
  }
  .heart, .heart::before, .heart::after{
    transition: 0.6s;
    transition-delay: 0.3s;
  }
  .heart.forward,.heart.forward::before,
  .heart.forward::after{
    background-color: #eb608c;
  }
  .heart.forward .circle{
    animation: move 0.6s forwards;
  }
  @keyframes move {
    0%{
      left: 7px;
      top: -28px;
    }
    50%{
      top: -1px;
      left: 17px;
    }
    100%{
      left: 42px;
      top: 7px;
    }
  }
  
  .heart.reverse .circle{
    animation: back1 0.6s forwards;
  }
  @keyframes back1 {
    0%{
      left: 42px;
      top: 7px;
    }
    50%{
      left: 17px;
      top: 1px;
    }
    100%{
      left: 7px;
      top: -28px;
    }
  }
  

/*----------------------header----------------*/
header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
    
}

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
    
}
.header_left p{
    margin: 1rem 0 2.4rem;
}
.icon_user{
    padding: 0.7rem;
    border-radius: 0.9rem;
    zoom: 1.2;
}

/* img */
.header_right-image{

    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
/* comunicados/alerta/notifi */

#notifi {
    top: 107px !important;
    transition: .5s ease-in-out all;
}

#notifi{
    position: absolute;
    top: 20px;
    width: auto;
    padding-right: 25px;
    height: 55px;
    background: red;
    z-index: 2;
    right: -12rem;
    border-radius: 1rem 0 0 1rem;
}
#notifi a, .uil-exclamation-circle{
    font-size: 1.5rem;    
}
#notifi a, .uil-exclamation-circle:hover{
    right: 0;
}



#notifi li{
    display: inline;
    text-decoration: underline;
    line-height: 55px;
}
#notifi:hover{
    right: 0;
}

.window-loaded #notifi {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px)
}

    /* popup */


.container-all{
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    transition: all 600ms;
    z-index: 99;
    color: var(--color-dark);
       
}
.container-all:target{
    background: rgba(0, 0, 0, 0.8);
    visibility: visible;
    opacity: 1;
}
.container-all:target .popup{
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
    border-radius: 1rem;
}
.popup{
    width: 100%;
    max-width: 800px;
    height: 500px;
    display: flex;
    position: relative;
    background-color: #fff;
    visibility: hidden;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(-150%, 230%);
    transition: all 600ms;
}
.container-text{
    width: 60%;
    padding: 50px;
    overflow-y: auto;
    
}
.btn-close-popup{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 15px 7px;
    background-color: #000;
    color: white;
    border-radius: 50%;
    line-height: 10px;
}
@media screen and (max-width: 600px){
    .popup{
        flex-direction: column;
        height: 100%;
    }
    .img{
        width: 100%;
        height: 60px;
        padding: 2px;
        /* display: block; */
    }
    
    .container-text{
       margin-top: 22rem;
        width: 100%;
        height: 100%;
    }
    
}
/*----------------------niveles----------------*/

.categories{
    height: 29rem;
    background: var(--color-bg1);
    color: var(--color-white);

}
.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.categories_container{
    display: grid;
    grid-template-columns: 40% 60%;

}

.categories_left{
    margin-right: 4rem;
}
.categories_left p{
    margin: 1rem 0 3rem;
}
.categories_right {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;

}
.category{
    /*background: var(--color-bg2);*/
    /*background: url(../imagenes/niña.jpeg);
    background-size: cover;*/
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}
.primaria{
    background: url(../imagenes/niña.jpeg);
    background-size: cover;
}
.secundaria{
    background: url(../imagenes/bgsecundaria.jpeg);
    background-size: cover;
}
.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.category_icon{
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}
.category h5{
    margin: 2rem 0 1rem;
}
.category p{
    font-size: 0.85rem;
}


/* festividades--------------------------- */
.courses{
    margin-top: 3rem;
    text-align: center;
}
.courses_container{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course{
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    color: var(--color-white);
}
.course:hover{
    background: var(--color-dark);
    border-color: var(--color-primary);
}
.course_info{
    padding: 2rem;
}
.course_info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}




/*-------------preguntas---------------------*/

.faqs{
    background-color: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
    color: var(--color-white);

}
.faqs_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}
.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-primary);
    cursor: pointer;
}
.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}
.faq_icon{
    align-self: flex-start;
    font-size: 1.2rem;

}
.faq p{
    margin-top: 0.8rem;
    display: none;
}
.faq.open p{
    display: block;
}



/*----------testimonios------------*/
.testimonial_container{
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}
.testimonial{
    padding-top: 2rem;

}
.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}
.testimonial_info{
    text-align: center;
}
.testimonial_body{
    background: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
    color: var(--color-white);
}
.testimonial_body::before{
    content: "";
    display: block;
    background: linear-gradient(135deg,
        transparent,
        var(--color-primary),
        var(--color-primary),
        var(--color-primary));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 43%;
    top: -1.5rem;
    transform: rotate(45deg);
}
/*------------pie------------------*/
footer{
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
    color: var(--color-white);
}
.footer_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}
.footer_container > div h4{
    margin-bottom: 1.2rem;
}
.footer_1 p{
    margin: 0 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}
footer ul li a:hover{
    text-decoration: underline;
}
.footer_social{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}



/*----------------------------*/
iframe{
    margin-top: 3rem;
}
.tour h3{
    color: #fff;
    line-height: 1;
    margin-left: 3rem;
    margin-top: 1rem;
}

/* llll */
.subimg{
    width: 100%;

    visibility: hidden;
    display: none;
}

/*----------------RESPONSIVE --------------------*/

@media screen and (max-width: 1024px) {
    .subimg{
        width: 80%;
        justify-content: center;
        align-items: center;
 
        visibility: visible;
        display: block;
    }

    .container {
        width: var(--container-width-md);
    }
    h1{
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 1.2rem;
    }

    /*============*/
   

    
    .navbar .bx-menu{
        display: block;
    }
    nav .navbar .nav-links{
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background:  var(--color-dark);
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
      }
    .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar-logo .logo-name{
        font-size: 25px;
        color: #fff;
    }
    .sidebar-logo  i,
    .navbar .bx-menu{
          font-size: 25px;
          color: #fff;
    }
    nav .navbar .links{
        display: block;
        margin-top: 20px;
    }
    nav .navbar .links li .arrow{
        line-height: 40px;
    }
    nav .navbar .links li{
        display: block;
    }
    nav .navbar .links li .sub-menu{
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }
    nav .navbar .links li .sub-menu li{
        border-bottom: none;
    
    }
    .navbar .links li .sub-menu .more-sub-menu{
        display: none;
        position: relative;
        left: 0;
    }
    .navbar .links li .sub-menu .more-sub-menu li{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow{
        transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
        display: none;
    }
    .navbar .links li .sub-menu .more span{
        
        display: flex;
        align-items: center;
    
    }
    
    .links li .sub-menu .more:hover .more-sub-menu{
        display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu{
        display: none;
    }
    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu{
        display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
    }
    .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
    }
    

    /*============*/
    header {
        /*height: 120vh;*/
        height: auto;
        
        margin-bottom: 4rem;
    }
    .header_container{
        gap: 4;
        padding-bottom: 3rem;
    }


    /*============*/

    .categories{
        height: auto;
        text-align: center;
    }
    .categories_container{
        grid-template-columns: 2fr;
        gap: 3rem;
    
    }
    .categories_left{
        margin-right: 0;
    }

    /*============*/

    .course{
        margin-top: 0;
    }
    .courses_container{
        grid-template-columns: 1fr 1fr;
    }

    /*============*/

    .faqs_container{
        grid-template-columns: 1fr;
    }
    .faq{
        padding: 1.5rem;
    }

    /*============*/

    .footer_container{
        grid-template-columns: 1fr 1fr;
    }
}

/*----------------RESPONSIVE --------------------*/

@media screen and (max-width: 600px) {
    .subimg{
        width: 50%;
    }
    .container{
        width: var(--container-width-sm);
    }
    
    /*============*/
    


    nav .navbar .nav-links{
        max-width: 100%;
    } 

    /*============*/

    header{
        height: 100%;
    }
    .header_container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 8rem;
    }

    .header_left p{
        margin-bottom: 1.3rem;
    }
         /* ====separador=== */
     .separador{
        margin-left: auto;
        margin-right: auto;

    }
    /* notificacion/alerta */
    #notifi{
        top: 17px !important;
        font-size: 1.5rem;  
        right: -11.5rem;

    }
    .uil-exclamation-circle{
        font-size: 1.5rem;
    }
    #notifi a{
        font-size: 1.3rem;
        font-style: italic;
    }

    /*============*/

    .categories_right{
        
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .category{
        padding: 1rem;
        border-radius: 1rem;
    }
    .category_icon{
        margin-top: 4px;
        display: inline-block;
    }
    /*============*/

    .courses_container{
        grid-template-columns: 1fr;
    }
    /*============*/
    .testimonial_body{
        padding: 1.2rem;
    }
    /*============*/
    .footer_container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }
    .footer_1 p{
        margin: 1rem auto;
    }
    .footer_social{
        justify-content: center;
    }

}

