<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--description links-->
    <meta name="description" content="Educacion solo Para Niñas" />
    <meta property="og:url" content="https://lomo-saltado.github.io/mdn/" />
    <meta property="og:type"  content="article" />
    <meta property="og:title"  content="Maria De Nazaret Cajamarca" />
    <meta property="og:image"  content="../favicon.png" />
    <!--end d.-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!---->
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/whats.css">
    <link rel="stylesheet" href="../css/whats2.css">
    <link rel="stylesheet" href="./time.css">
    <link rel="shorcut icon" href="../favicon.png">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/cfcc8dbcf1.js" crossorigin="anonymous"></script>
  
    <title>Nosotras | Historia | María De Nazaret</title>
</head>
<body>
    
    <!----------------------------------------------navbar-------------------->
    <nav>
        <div class="navbar">
            <i class='fa-solid fa-align-left bx bx-menu'></i>
            <div><a href="../index.html">
                <div class="logo"><img src="../imagenes/logo_nazaret2.webp" alt="logo"></div></a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">♥ IИICIФ ♥</span>
                    <i class='fa-solid fa-xmark bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="../index.html">Inicio</a></li>
                    <li>
                        <a href="../template/historia.html">Sobre Nosotras</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow fa-solid fa-chevron-down'></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="../template/myv.html">Misión & Visión</a></li>
                            <li><a href="../template/historia.html">Fundadora</a></li>
                            <li><a href="../template/audio/audio.html">Himno Nazatano</a></li>
    
                            <li class="more">
                                <span><a href="#"></a>
                                    <i class='bx bxs-chevron-right arrow more-arrow' style="display: none;"></i>
                                </span>
    
                            </li>
                        </ul>
                    </li>
                  
                    
                    <li>
                        <a href="../galeria/galeria.html">Galeria</a>
                        <i class='bx bxs-chevron-down js-arrow arrow fa-solid fa-chevron-down'></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a href="#">Premios</a></li>
                            <li><a href="https://www.instagram.com/"><i class="uil uil-instagram"></i>Instagram</a></li>
    
                        </ul>
                    </li>
                    <li><a href="../template/admision.html">Admision 2023</a></li>
                    
                    <li><a href="../template/contacto.html">Contacto</a></li>
                    <li><a href="https://www.office.com/login?es=Click&ru=%2F"><i class="fa-regular fa-user" style="zoom: 1.2;"></i></a></li>
                    <div class="subimg"><img src="../imagenes/niña2.webp" alt=""></div>
                </ul>
    
            </div>
    
            <!-- <div class="search-box" style="display: none;">
                <i class='bx bx-search'></i>
            </div> -->
            <ul>
                <samp style="color: #fff;">&nbsp;</samp>
                <div class="heart">
                    <div class="toggle"></div>
                </div>
                <samp style="color: #fff;">Nazaret</samp>
            </ul>
            
        </div>
    </nav>
    <!-------------------------------------------------------------------------------->

    <header>
        <div class="container header_container">
            <div class="header_left" data-aos="fade-right" data-aos-duration="2000">
                <p style="font-size: 1.7rem; font-weight: 500; margin-top: -10px;">Sobre Nosotras</p>
                <div class="separador mx-auto"></div>
                <p style="font-size: 1rem; font-weight: 400; margin-top: -10px;">
                <ol>
                    <li><a href="#fundadora"><i class="uil uil-angle-right-b"></i>Fundadora</a></li>
                    
                    <li><a href="#timeline"><i class="uil uil-angle-right-b"></i>Nazaret en el tiempo</a></li>
                </ol></p>
                
            </div>

            <div class="header_right">
                <div class="header_right-image">
                    <img src="../imagenes/aboutheader.webp" alt="header">
                </div>
            </div>
        </div>
    </header>

    <div class="sub_nav">
        <small><a href="">Sobre Nosotras &nbsp;</a><i class="fa-solid fa-chevron-right"></i><a href="">&nbsp;Misión y Visión</a></small>
    </div>
<!----------------------Fundadora-------------------->

  
 
<section class="fundadora" id="fundadora">
    <h2 style="color: #fff;"><center>Fundadora</center></h2>
    <div class="container fundadora_container">
        <div class="fundadora_left">
            <h3 name="fundadora" id="fundadora" style="color: #fff;">Dolores Estela Goicochea</h3>
            <p>La vida de Doly fue un gran canto, una sinfonía desde el inicio hasta el final. Una gran mujer que supo ser alegre y contagiar el gusto por la vida desde niña,<br> como hija alegre y hacendosa, luego estudiante destacada, jovial maestra, formadora y entusiasta misionera laica en diversos grupos apostólicos, en donde siempre la caracterizaban su entusiasmo, su constancia, su inteligencia preclara y su don de gentes. Fundadora de nuestro querido colegio “María se Nazaret”, con los mismos ideales siguió entonando su melodía y enseñándola a centenares de alumnas y docentes.
               Al final como fiel discípula de nuestro creador, supo morir con dignidad, acabando la sinfonía de su vida, dejándola escrita en nuestros corazones para que podamos aprender y seguir caminando. Cuando ella partió a la eternidad, Cajamarca se sintió consternada por esta gran pérdida y las manifestaciones de solidaridad y de cariño serán parte de una deuda eterna con todos.
               <br> Doly se ha ido, pero su canto continuará pues siempre fue una obra de Dios. <br>
               <span style="font-weight: 700; font-size: 1.2rem;">“Gracias Doly”.</span></p>
        </div>

        <div class="header_right">
            <div class="fundadora_right-image">
                <img src="../imagenes/IMG_4264.webp" alt="">
            </div>
        </div>
    </div>
</section>

<section id="timeline">
    <center><h2>Nazaret a lo largo del tiempo</h2></center>
    <div class="linea_tiempo">
        <div class="timeline">
          <ul>
            <li>
              <div class="timeline-content">
                <h3 class="date">1900</h3>
                <h1>Lorem, ipsum.</h1>
                <img src="../imagenes/IMG_4276.webp" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
              </div>
            </li>
            <li>
              <div class="timeline-content">
                <h3 class="date">1900</h3>
                <h1>Lorem, ipsum.</h1>
                <img src="../imagenes/IMG_4276.webp" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
              </div>
            </li>
            <li>
              <div class="timeline-content">
                <h3 class="date">1900</h3>
                <h1>Lorem, ipsum.</h1>
                <img src="../imagenes/IMG_4276.webp" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
              </div>
            </li>
            <li>
              <div class="timeline-content">
                <h3 class="date">1900</h3>
                <h1>Lorem, ipsum.</h1>
                <img src="../imagenes/IMG_4276.webp" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
</section>

<!-------------------------footer---------------------->
<footer class="footer">
    <div class="container footer_container">
        <div class="footer_1">
            <a href="index.html" class="footer_logo">
                <h4>Maria de Nazaret</h4>
            </a>
            <p>
                Entonces dime <br>
                Que es lo mejor te ha pasado? <br>
                <input type="text" name="respuesta" placeholder="" style="background-color: transparent;color: rgb(255, 255, 255);">
            </p>
            
        </div>

        <div class="footer_2">
            <h4>Accesos Internos</h4>
            <ul class="permalinks">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="admision.html">Gestión pedagógica</a></li>
                <li><a href="precios.html">Repositorio academico</a></li>
                <li><a href="galeria.html">Biblioteca virtual</a></li>
                <li><a href="contacto.html">Miselanea</a></li>
                <li><a href="precios.html">Precios</a></li>
                <li><a href="precios.html">Intranet</a></li>
            </ul>
        </div>

        <div class="footer_3">
            <h4>Institucional</h4>
            <ul class="permalinks">
                <li><a href="index.html">UGEL</a></li>
                
                <li><a href="precios.html">REGLA</a></li>
                <li><a href="precios.html">PCIE</a></li>
                <li><a href="precios.html">PEJ</a></li>
            </ul>
        </div>

        <div class="footer_4">
            <h4>Contacto</h4>
            <div>
                <i class="uil uil-phone-alt" style="zoom: 1.5;"></i><p>(076) 363545</p>
                <br>
                <i class="uil uil-envelope" style="zoom: 1.5;"></i><p>nazaret@mail.com</p>
                <br>
                <i class="uil uil-location-pin-alt" style="zoom: 1.5;"></i><p>Av. Hoyos Rubio 1050 <br> Urb. Horacio Zeballos</p>
            </div>
                
            <ul class="footer_social">
                <li>
                    <a href="https://www.facebook.com/mariadenazaretcajamarca"><i class="fa-brands fa-facebook-f"></i></a>
                </li>

                <li>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                </li>

                <li>
                    <a href="https://youtube.com/channel/UCLUIynDJbZCsjyiAWhYfgkw"><i class="fa-brands fa-youtube"></i></i></a>
                </li>

                <li>
                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></i></a>
                </li>

                <li>
                    <a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-----------------------------------btn flotante----------------------------------->
<div class="nav-bottom">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <div class="popup-whatsapp fadeIn">
            <div class="content-whatsapp -top">
                <button type="button" class="closePopup">
                    <i class="material-icons icon-font-color">close</i>
                </button> 
                      
                <p><img src="../imagenes/secretary.webp" alt="Secretaria" style="width: 50px;">  Hola, ¿en que podemos ayudarle? </p>
                       
            </div>
            <div class="content-whatsapp -bottom">
                <input class="whats-input" id="whats-in" type="text" Placeholder="Enviar mensaje..." />
                <button class="send-msPopup" id="send-btn" type="button">
                    <i class="material-icons icon-font-color--black">send</i>
                </button>
            </div>
        </div>
        <button type="button" id="whats-openPopup" class="whatsapp-button">
            <div class="float">
                <i class="fa fa-whatsapp my-float"></i></div>
        </button>
        <div class="circle-anime"></div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="../java/js.js"></script>
</html>
