<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cfcc8dbcf1.js" crossorigin="anonymous">
    </script>
    <link rel="shorcut icon" href="https://lomo-saltado.github.io/mariadenazaret/favicon.png">
    <title>Himno Nazaretano</title>
    <link rel="stylesheet" href="cs/estilos.css">
    
</head>
<div class="cont-reprod" id="musica">
    <audio id="audio" src="" ></audio>
    
    <div class="list_reprod">
        <i class="fas fa-arrow-left"><a href="https://lomo-saltado.github.io/mariadenazaret/"></a></i>
        <h1>MDN</h1>
        <i class="fa-brands fa-youtube"><a href="https://www.youtube.com/watch?v=aa6HMhdDhfk"></a></i>
    </div>
<br><br><br><br><br>
    <div class="ListadoMusica">
    </div>
   
    <div class="img" id="parlante">
        <img src="" id="logo" alt="">
    </div>
    <br>
    <h2 id="TitleMusica"></h2>
    <!-- <div class="cont-barras">
        <div class="item largo"></div>
        <div class="item mediano"></div>
        <div class="item largo"></div>
        <div class="item largo"></div>
        <div class="item mediano"></div>
        <div class="item largo"></div>
        <div class="item mediano"></div>
        <div class="item largo"></div>
        <div class="item mediano"></div>
        <div class="item mediano"></div>
        <div class="item largo"></div>
        <div class="item largo"></div>
        <div class="item mediano"></div>
        <div class="item largo"></div>
        <div class="item mediano"></div>
        <div class="item mediano"></div>
        <div class="item largo"></div>
        <div class="item mediano"></div>
        <div class="item largo"></div>
        <div class="item mediano"></div>
    </div> -->
    <br>
    <br><br>
    <div class="BarraProgreso">
        <div id="BarraPogre" class="B_Progreso"></div>
       </div>
       <br><br>
   <div class="cont-botones">
    <span id="atras" class="fas fa-backward"></span>
    <div class="botones" id="cont_btn">
        <span id="pause" class="btn far fa-pause-circle"></span>
        <span id="play" class="btn far fa-play-circle"></span>
    </div>
    <span id="siguiente"  class="fas fa-forward"></span>
   </div>
</div>
  
    <script src="js/index.js"></script>
</body>
</html>